/* src/index.css */
body {
    background-color: #f8f9fa; /* Warna latar belakang untuk kontras yang lebih baik */
  }
  
  .container {
    max-width: 600px; /* Menentukan lebar maksimum kontainer */
  }
  
  .form-container {
    background-color: #fff; /* Warna latar belakang putih untuk formulir */
    padding: 20px; /* Padding di sekitar formulir */
    border-radius: 8px; /* Sudut membulat untuk formulir */
  }
  